<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a href="#" class="navbar-brand">Zählerstände</a>


  <div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a href="#" class="nav-link" routerLink="/">Gesamtliste</a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link" routerLink="/detail">Details zu Zählernummer</a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link" routerLink="/edit">Erfassung eines Zählerstandes</a>
      </li>

    </ul>
  </div>
</nav>


(Inhalt hier anzeigen)




<div class="footer">
  Lösung von: (Hier Ihren Namen einsetzen!!)
</div>
